
<body style="background: linear-gradient(white,grey) 100% 100% no-repeat; height:100vh;margin:0">
<h1>Congratulations! You found this Site!</h1>
<div>
<p style="margin-left:15vw; margin-right:auto;"> unfortunately, the main Site is still under construction ...</p>
<p style="margin-left:auto; margin-right:15vw; text-align:right;"> ... so check back later and see what changed! </p>
<p style="text-align:center"> And to shorten your wait, stay a while and listen to some Music: </p>
</div>
<iframe width="560" height="315" src="//www.youtube.com/embed/FS6oZjmbGyc" frameborder="0" allowfullscreen style="display:inherit; margin:auto; padding: auto"></iframe>

<p> also stop looking for easter eggs. There are none here... </p>

<!--
GOD DAMIT STOP LOOKING! DONT MAKE ME PUT A EASTER EGG HERE! I DARE YOU!
-->
</body>

